@import "tailwindcss";

@theme {
    /* Colors */
    --color-green-300: #318B82;
    --color-green-400: #158277;
    --color-green-500: #0B5B53;
    --color-green-600: #043732;

    /* Fonts */
     --font-inter: "Inter";
     --font-instrument-sans: "Instrument Sans"
}